body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
}

.active {
  color: #91e718;
}

.form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 3%;
  background-color: #929292;
}

.form-container {
  width: 30%;
}

.display-link{
  text-decoration: none;
}

.link{
  color:white;
  text-decoration: none;
}

.link-text {
  font-size:30px;
}

.h2-text {
  color:#bb4455;
}

.navbar-collapse {
  margin-left:40%;
}